# Created by .ignore support plugin (hsz.mobi)
"\347\216\251\350\275\254spring\345\205\250\345\256\266\346\241\266/"
/.idea/workspace.xml
.idea/compiler.xml
.idea/description.html
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
